@model Stories.Models.ViewModels.CommentViewModel
<div class="comment" data-hashid="@Model.HashId">
    <div class="vote" data-url="@Url.Action("CommentVote", "Vote")">
        @if (Model.UserUpvoted)
        {
            <i class="fa fa-chevron-up active" aria-hidden="true"></i>
        }
        else
        {
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        }
        <div class="score">@Model.Upvotes</div>
    </div>
    <div class="comment-details">
        <div class="comment-meta">
            <a href="#"><span class="username">@Model.Username</span></a>
            <time datetime="@Model.SubmittedDate"></time>
            <div class="comment-actions">
                <a href="#" class="link"><i class="fa fa-link" aria-hidden="true" title="link to comment"></i></a>
                <a href="#" class="reply"><i class="fa fa-reply" aria-hidden="true" title="reply to comment"></i></a>
                <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true" title="delete comment"></i></a>
                @if (Model.UserFlagged)
                {
                    <i class="fa fa-flag active" aria-hidden="true" title="Remove flag" data-url="@Url.Action("Flag","Comment")"></i>
                }
                else
                {
                    <i class="fa fa-flag" aria-hidden="true" title="Flag comment" data-url="@Url.Action("Flag","Comment")"></i>
                }
            </div>
        </div>
        <div class="comment-content">
            @Html.Raw(Model.Content)
        </div>
    </div>
    @if (Model.Replies.Any())
    {
        <ol>
            @foreach (var reply in Model.Replies)
            {
                <li>@Html.DisplayFor(m => reply)</li>
            }
        </ol>
    }
</div>

