@using System.Security.Principal
@using Stories.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - .Net Signals</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/cornerribbons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/cornerribbons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
</head>
<body>
    <div class="corner-ribbon top-left sticky blue shadow">BETA</div>
    <div class="header">
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Moderator))
        {
            <div class="container nopadding">
                <a class="admin-link" href="@Url.Action("Index", "Administration")">Admin</a>
            </div>
        }
        <nav class="container">
            <ul class="story-nav">
                <li class="nav-link-home"><a href="@Url.Action("Index", "Home")">.Net Signals</a></li>
                <li><a href="@Url.Action("Index", "Home")">hot</a></li>
                <li><a href="@Url.Action("New", "Home")">new</a></li>
                <li><a href="@Url.Action("Create", "Story", new { returnUrl = Url.Action("Index", "Home") })">submit</a></li>
            </ul>
            <ul class="auth-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "User")">profile</a></li>
                    <li><a href="@Url.Action("Logout", "Auth")">logout</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Auth", new { returnUrl = Url.Action("Index", "Home") })">login</a></li>
                    <li><a href="@Url.Action("SignUp", "Auth", new { returnUrl = Url.Action("Index", "Home") })">sign up</a></li>
                }
            </ul>
        </nav>
    </div>
    <div class="container container-fluid body-content">
        <div id="error" class="hidden row"></div>
        @RenderBody()
        <footer class="container text-center fixed-bottom">
            <p>&copy; 2017 - dotnetsignals.com</p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/js/comment.js"></script>
        <script src="~/js/story.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/time.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4= sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js" integrity="sha256-2/3+Q1kMYR8MDaqFPNBgmLgiqWJjySkg1wqLx/iE5Zo= sha384-lw3tyCtDwN8EVMkpY/PYQH+ZQjVZWAwlUE2X0XjYQpH4BQXgI4dgXwWJDarEB9o2 sha512-imNwrSU7maHt4HR952Mqfm/dyloFTOXSICVfhol9Cwcwn6Qpg8BKQlEgKC+RZ8aVRHfmPE1SJCCojiOcMNGvFw==" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/time.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
